.grid-view{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}
.list-view{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}
@media screen and (max-width: 950px) {
    .grid-view{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 600px) {
    .grid-view{
        grid-template-columns: 1fr;
    }
}