.home-hero{
    height: 600px
}
.home-hero-item{
    height: 100%;
    position: relative;
}
.home-hero-item img{
    width: 100%;
    height: 100%;
}
.home-hero-content-overlay{
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(rgb(255, 255, 255, 0.2), rgb(0, 0, 0, 0.9));
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.home-hero-content{
    width: 500px;
    color: #fff;
}
.home-hero-content h2{
    font-size: 2rem;
    margin-bottom: 20px;
}
.home-hero-content p{
    margin-bottom: 20px;
    font-size: 1.1rem;
}
.home-hero-content button{
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    background-color: #fff;
    color: var(--text-color-main);
    border: 3px solid #fff;
}
.home-hero-content button:hover{
    background-color: transparent;
    color: #fff;
}
.home-hero-buttons{
    margin-top: 5rem;
}
.hero-btn{
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #fff;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 50%;
    border: none;
}
.active-hero-btn{
    background-color: var(--text-color-main);
    border: 2.5px solid #fff;
}
@media screen and (max-width:850px) {
    .home-hero{
        height: 550px;
    }
    .home-hero-content h2{
        font-size: 1.6rem;
    }
    .home-hero-content button{
        font-size: 1rem;
    }
    
  }
@media screen and (max-width:600px) {
    .home-hero{
        height: 400px;
    }
    .home-hero-content{
        width: 250px;
    }
    .home-hero-content h2{
        font-size: 1.4rem;
        
        margin-bottom: 20px;
        color: #fff;
    }
    .home-hero-content button{
        font-size: 0.9rem;
    }
    .home-hero-content p{
        font-size: 0.9rem;
    }
}

