.search-bar{
    width: 100%;
    z-index: 3;
    position: absolute;
    height: 100vh;
    top: 0;
    right: -100%;
    color: var(--text-color-main);
    display: flex;
}
.active-search-bar{
    right: 0;
}
.search-bar-bg{
    width: 70%;
    background-image: linear-gradient(rgb(0, 0, 0, 0.8), rgb(0, 0, 0, 0.8));
}
.search-bar-content{
    width: 30%;
    background-color: #fff;
}
.search-bar-heading{
    display: flex;
    padding: 20px 15px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--gray-light-1);
}
.search-bar-heading h2{
    font-size: 1.4rem;
}
.search-bar-heading span{
    cursor: pointer;
}
.search-bar-heading span:hover{
    color: var(--link-color-hover);
}
.search-bar form{
    display: flex;
    padding: 20px 15px;
    border-bottom: 1px solid var(--gray-light-1);
}
.search-bar form input{
    width: 85%;
    padding: 10px 20px;
    font-size: 1rem;
    border: 1px solid var(--gray-light-1);
    border-right: none;
}
.search-bar form button{
    width: 15%;
    padding: 10px 10px;
    font-size: 1.1rem;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid var(--gray-light-1);
    color: var(--gray-light-1);
    border-left: none;
}