.search-bar{
    width: 100%;
    height: 100vh;
    z-index: 3;
    position: absolute;
    height: 100vh;
    top: 0;
    color: var(--text-color-main);
    display: none;
}
.active-search-bar{
    display: flex;
}
.search-bar-bg{
    width: 65%;
    background-image: linear-gradient(rgb(0, 0, 0, 0.8), rgb(0, 0, 0, 0.8));
}
.search-bar-content{
    width: 35%;
    background-color: #fff;
}
.search-bar-heading{
    display: flex;
    padding: 20px 15px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--gray-light-1);
}
.search-bar-heading h2{
    font-size: 1.4rem;
}
.search-bar-heading span{
    cursor: pointer;
}
.search-bar-heading span:hover{
    color: var(--link-color-hover);
}
.search-bar form{
    display: flex;
    padding: 20px 15px;
    border-bottom: 1px solid var(--gray-light-1);
}
.search-bar form input{
    width: 85%;
    padding: 10px 20px;
    font-size: 1rem;
    border: 1px solid var(--gray-light-1);
    border-right: none;
}
.search-bar form button{
    width: 15%;
    padding: 10px 10px;
    font-size: 1.1rem;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid var(--gray-light-1);
    color: var(--gray-light-1);
    border-left: none;
}
.search-results{
    height: 78vh;
    overflow: auto;
}
.search-result-item{
    margin: 30px 20px;
    border: 1px solid var(--gray-light-1);
    padding: 20px 20px;
}
.search-result-item img{
    width: 100%;
    margin-bottom: 10px;
}
.search-result-item h2{
    font-size: 1.6rem;
    margin-bottom: 5px;
    text-transform: capitalize;
}
.search-result-item p{
    font-size: 1.1rem;
    margin-bottom: 10px;
    text-transform: capitalize;
}
.search-result-item h2:hover{
    color: var(--link-color-hover);
}
.search-result-item h3{
    font-size: 1.4rem;
    margin-bottom: 10px;
}
.search-result-item-btns button{
    padding: 10px 15px;
    font-size: 1rem;
    margin-right: 10px;
    cursor: pointer;
    background-color: var(--link-color-hover);
    border: none;
    color: #fff;
    font-weight: 600;
}
.search-result-item-btns button:hover{
    background-color: var(--link-color-hover-light);
}
.search-bar-msg{
    text-align: center;
    margin-top: 2rem;
}
@media screen and (max-width:850px) {
    .search-bar-bg{
        width: 50%;
    }
    .search-bar-content{
        width: 50%;
    }
    .search-result-item h2{
        font-size: 1.3rem;
    }
    .search-result-item p{
        font-size: 1rem;
    }
    .search-result-item h3{
        font-size: 1.1rem;
    }
}
@media screen and (max-width:550px) {
    .search-bar-bg{
        width: 0;
    }
    .search-bar-content{
        width: 100%;
    }
    .search-result-item h2{
        font-size: 1.1rem;
    }
    .search-result-item p{
        font-size: 0.9rem;
    }
    .search-result-item h3{
        font-size: 1rem;
    }
}