@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}
:root{
  --text-color-main: #222;
  --link-color-hover: #b59677;
  --gray-light: #979797;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
  color: inherit;
}
.page{
  margin-top: 5rem;
}
.container{
  width: 80%;
  margin: 0 auto;
}
@media screen and (max-width:850px) {
  .container{
    width: 85%;
  }
}
@media screen and (max-width:600px) {
  .container{
    width: 90%;
  }

}